.DS_Store
obj
#*.a
../.idea
uchat
uchat_server
._.DS_Store
*.o
*.out
.vscode
client/src/*.cc
server/src/*.cc
./*.json
log.txt
*.db
client_unit_tests/
*.zsh
mycert.pem
/cmake-build-debug/
.idea
.txt
/client/cmake-build-debug/
/server/cmake-build-debug/
