/client/cmake-build-debug/
.idea
*.o
*.ghc
.idea/*
/venv/

.DS_Store
obj
#*.a
../.idea
uchat
uchat_server
._.DS_Store
*.o
*.out
.vscode
client/src/*.cc
server/src/*.cc
./*.json
log.txt
database.db
client_unit_tests/
*.zsh
mycert.pem
/cmake-build-debug/
.idea